# Telegram Streaming RTMP(S) Destinations
# Telegram Channel RTMPS URL (Format: rtmps://dc4-1.rtmp.t.me/s/123456:abcdef...)
CSTREAM_RTMPS_URL=

# Telegram Group RTMPS URL
GSTREAM_RTMPS_URL=

# GitHub Personal Access Token for Actions workflow dispatch
GITHUB_PAT=

# Google / YouTube Data API v3 Key
YOUTUBE_API_KEY=
